@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/orange";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* Ширина всего элемента навигации */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* Цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 2px solid var(--primary-color); /* Оформление границ бегунка */
}
