@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/orange";

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }

  > * {
    min-width: 0;
  }
}

.content-page {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* Ширина всего элемента навигации */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* Цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color); /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 2px solid var(--primary-color); /* Оформление границ бегунка */
}
