.ArticleList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.TILE {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  flex-direction: row;
  gap: 30px;
}
