.app.dark {
  --bg-color: #212a3e;
  --inverted-bg-color: #f1f6f9;
  --primary-color: #f1f6f9;
  --secondary-color: #9ba4b5;
  --inverted-primary-color: #212a3e;
  --inverted-secondary-color: #394867;
}
