.Navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
  padding: 20px;
  background-color: var(--inverted-bg-color);
}

.links,
.dropdown {
  margin-left: auto;
}

.mainLink {
  margin: 15px;
}

.appName {
  width: var(--sidebar-width);
}

.createBtn {
  margin-left: auto;
}
