.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: width 0.3s ease 0s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
